* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bg-clr-dark: rgb(5, 23, 30);
    --bg-clr-light: rgb(8, 32, 41);
    --padding-normal: 0 8vw;
    --padding-small: 0 4vw;
    --footer-header-height-large: 80px;
    --footer-header-height-small: 64px
}

body {
    background-color: var(--bg-clr-dark);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

header{
    padding: var(--padding-normal);
    height: var(--footer-header-height-large);
    background-color: var(--bg-clr-light);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}
footer {
    padding: var(--padding-normal);
    height: 80px;
    background-color: var(--bg-clr-light);
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

header img {
    height: 64px;
}

main {
    padding: var(--padding-normal);
    flex: 1;
}

h1 {
    padding: 64px 0;
    font-size: 3em;
    text-align: center;
}

.img-elem-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.img-elem {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    /* border: 3px solid var(--bg-clr-light); */
    border-radius: 10px;
    transition: all 0.2s;
}
.img-elem:hover{
    transform: scale(1.03);
    box-shadow: 3px 3px 10px white;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}